@import "tailwindcss";
@plugin "daisyui";

/* navbar */
.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-trigger:hover .tooltip {
  visibility: visible;
  opacity: 1;
}